# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Optional: If you add CSS/images later
# css/*
# !css/.gitkeep
# images/*
# !images/.gitkeep

# copy
/zenbit
/zenbit/
/zenbit/株式会社ゼンビット _ システム開発支援・システム受託開発・DX支援専門企業.html    